<div class="content play-video">
  <span class="iframe-box">
    <iframe width="560" height="349" src="{{url}}" frameborder="0" allowfullscreen class="video-iframe"></iframe>
  </span>
  <div class="info-box" ng-click="showHideDescription()">
    <span>
      <span style="margin: 10px  0">
        <span class="title">{{title}}</span>
        <span class="pull-right">
          <span title="{{viewcount | number}} views" data-toggle="tooltip" data-placement="top" tooltip class='tooltip-video' data-original-title="{{viewcount | number}} views">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </span>
          <span title='{{publishedat | date : dateFormat}}' data-toggle="tooltip" data-placement="top" tooltip class='tooltip-video' data-original-title='{{publishedat | date : dateFormat}}'>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </span>
        </span>
      </span>
    </span>
    <p class="description-box" ng-class="{'show-box': showDescription, 'hide-box': !showDescription}" >{{description}}</p>
  </div>
</div>
